input[type='submit'], button, [aria-label] {
    cursor: pointer;
}
body{
    text-align:center;
    margin:0;
    padding:0;
    background-color:pink;
}
h2{
    background-color:black;
    border:1px solid black;
    //border-radius:10px;
    padding:10px;
    color:pink;
    margin:0 0 20px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#editForm {
    display: none;
}
#add-name{
    font-size:20px;
    border:0.2px solid grey;
    border-radius:10px;
    padding:5px;
}
table {
    font-family: Arial, sans-serif;
    border: 3px solid;
    border-radius: 20px;
    width: 80%;
    margin:20px;    
}
#addbtn {
    font-size: 20px;
    border: 0.2px solid grey;
    border-radius: 10px;
    padding:5px 10px;
}
th {
    background: none;
    padding: 5px;
    text-align: left;
}

td {
    padding: 15px;
}
.tableDiv{
    display:flex;
    justify-content:center;
    align-items:center;
}
